.App {
  text-align: center;
}

.App-header {
  background-color: #210B2C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #eeeeee;
  padding: 1.5rem 0;
}

.movie-container{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-bottom: 2rem;
}

.movie-wrapper{
  width: 350px;
  color: #eeeeee;
  background-color: #373b69;
  border-radius: 10px;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
  box-shadow: 0.2px 4px 5px rgba(136, 136, 136, 0.1);
  text-decoration: none;
  margin-bottom: 1rem;
}

.movie-wrapper:hover{
  cursor: pointer;
  scale: 102%;
}

.movie-input{
  width: 40%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 2rem;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px;
}

.genre-container{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 2rem;
}

.genre-tags-wrapper{
  cursor: pointer;
  font-size: 15pt;
  border-radius: 5px;
  padding: 6px;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
  font-style: italic;
}

.genre-tags-wrapper:hover{
  scale: 105%;
}

.movie-header{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  align-items: center;
}

.movie-title{
  margin-top: 0;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

.movie-date{
  margin-top: 10px;
  font-style: italic;
}

.movie-img{
  width: 350px;
  border-radius: 10px 10px 0 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.movie-rating{
  font-size: 18px;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
  color: #eeeeee;
  background-color: #210B2C;
}

.text-pages{
  padding-top: 0.75rem;
  font-size: 15pt;
}

.paginations{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  font-size: 17pt;
  font-weight: bold;
}

.pagination-prev{
  width: 75px;
  text-decoration: none;
  color: #e0e0e0;
  background-color: #373b69;
  padding: 5px;
  border-radius: 5px;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

.pagination-next{
  width: 75px;
  text-decoration: none;
  color: #e0e0e0;
  background-color: #373b69;
  padding: 5px;
  border-radius: 5px;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

.pagination-prev:hover{
  cursor: pointer;
  scale: 105%;
}

.pagination-next:hover{
  cursor: pointer;
  scale: 105%;
}

.search-title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-bottom: 1rem;
}

.not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 20px;
}

.back-button{
  color: #eeeeee;
  font-weight: bold;
  text-decoration: none;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

.back-button:hover{
  cursor: pointer;
  scale: 120%;
}

.movie-detail-container{
  background-color: #210B2C;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #eeeeee;
}

.movie-detail-wrapper{
  display: flex;
  margin: 22px;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.movie-detail-component{
  text-align: left;
}

.movie-detail-img{
  width: 250px;
  border-radius: 10px;
  box-shadow: rgba(122, 122, 122, 0.2) 0px 5px 15px;
}

.movie-detail-date{
  margin-top: 10px;
  font-size: 18px;
}

.movie-detail-rating{
  color: #eeeeee;
  font-weight: bold;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  gap: 10px;
}

.movie-detail-backBtn{
  padding: 10px;
  margin-left: 10px;
  display: flex;
}

.back-btn{
  text-decoration: none;
  color: #eeeeee;
  font-weight: bold;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

.back-btn:hover{
  cursor: pointer;
  scale: 110%;
}

.movie-detail-overview{
  font-size: 18px;
}

.movie-detail-production{
  margin-top: 10px;
  display: flex;
  font-size: 18px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.production-name-wrapper{
  display: flex;
  flex: 33%;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  padding-left: 0.5rem;
}

.production-name{
  background-color: #373b69;
  color: #eeee;
  font-weight: bold;
  font-style: italic;
  border-radius: 5px;
  padding: 5px;
  gap: 10px;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #eeeeee;
  border-right-color: #373b69;
  animation: spinner-d3wgkg 1s infinite linear;
}

@keyframes spinner-d3wgkg {
  to {
     transform: rotate(1turn);
  }
}

.movie-video{
  cursor: pointer;
  width: 130px;
  margin-top: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 10pt;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 10px;
  transition: all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

.movie-video:hover{
  scale: 110%;
  background-color: #eeeeee;
  color: #210B2C;
}

.modal-content{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.movie-video-content{
  display: flex;
  flex-direction: column;
}

.carousel-video{
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
  margin-bottom: 1rem;
}

.carousel{
  width: 640px;
  height: 350px;
  margin: auto;
}

.carousel-control-prev{
  height: 300px;
}

.carousel-control-next{
  height: 300px;
}

.carousel .carousel-control-prev-icon{
  visibility: hidden;
}

.carousel:hover .carousel-control-prev-icon{
  visibility: visible;
}

.carousel .carousel-control-next-icon{
  visibility: hidden;
}

.carousel:hover .carousel-control-next-icon{
  visibility: visible;
}

.movie-videoPlayer{
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.close-btn{
  cursor: pointer;
  transition: all;
}

.close-btn:hover{
  scale: 115%;
  font-weight: bold;
}

.youtube-logo{
  /* position: absolute; */
  /* cursor: pointer; */
  /* bottom: 5;
  right: 5; */
  width: 30px;
  /* transition: all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all; */
}

/* .youtube-logo:hover{
  scale: 110%;
} */


.movie-review{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-bottom: 2rem;
}

.reviewer{
  width: 400px;
  background-color: #373b69;
  padding: 15px;
  border-radius: 5px;
  color: #eeeeee;
}

.reviewer-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviewer-rating{
  width: 35px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  border-radius: 4px;
  color: #eeeeee;
  background-color: #210B2C;
}

.reviewer-name{
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}

.reviewer-comment{
  --max-lines: 2;
  --line-height: 1.5;

  max-height: calc(var(--max-lines) * 1em * var(--line-height));
  line-height: var(--line-height);

  margin-top: 1rem;
  font-size: 14px;
  text-align: left;

  overflow: hidden;
  position: relative;
}

.reviewer-comment:has(+ .expand-btn:not(:checked))::before{
  content: "";
  position: absolute;
  height: calc(1em * var(--line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(to bottom, transparent, #373b69);
}

.expand-btn{
  margin-top: 0.5rem;
  display: flex;
  appearance: none;
  border: 1px solid white;
  padding: .5em;
  border-radius: .25em;
  cursor: pointer;
  color: #eeeeee;
  font-size: 10pt;
}

.expand-btn:hover{
  background-color: #e0e0e0;
  color: black;
}

.expand-btn::before{
  content: "Show more";
  font-weight: bold;
}

.expand-btn:checked::before{
  content: "Show less";
  font-weight: bold;
}

.reviewer-comment:has(+ .expand-btn:checked){
  max-height: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
